.uppercase{
  text-transform: uppercase;
}

.nm{
  margin: 0;
}

.wp-caption{
  padding:rem-calc(4);
}

.wp-caption img{
  max-width:100%;
}

p.wp-caption-text{
  font-size:90%;
  color: $charcoal;
  padding:rem-calc(10) 0;
}

.whitetxt{
	color: #fff;
}


.homefront{
  position: relative;
  display: block;
  background: url(../images/home_mapa.jpg) no-repeat center center;
  height: 586px;
  @media only screen and (min-width: 40.063em) { 
	-webkit-background-size: 100%;
	background-size: 100%;
	height: 830px;
  }
  h3{
    text-transform: uppercase;
    position: relative;
    color: #fff;
	top: 400px;
	@media only screen and (min-width: 40.063em) { 
	    top: 600px;
	}
  }
}

.trim-small{
	display: none !important;
	@media only screen and (min-width: 40.063em) { 
		display: inline-block !important;
	}
}

.fifty{
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  vertical-align: top;
  @media only screen and (min-width: 40.063em) { 
	  width: 50%;
  }
  &.original{
	@media only screen and (min-width: 40.063em) { 
	    max-height: 725px;
	    overflow: hidden;
	}
	@media only screen and (min-width: 1472px) and (max-width: 1639px) {
		max-height: 750px;
	}
	@media only screen and (min-width: 1640px) and (max-width: 1730px) {
		max-height: 820px;
	}
	@media only screen and (min-width: 1731px) {
		max-height: 900px;
	}
	@media only screen and (min-width: 117.063em) { 
		max-height: 990px;
	}
  }
  &.orangebg{
    background: #EEB911;
    padding: 50px 40px;
    color: #fff;
    min-height: 465px;
    h4{
      color: #fff;
      text-transform: uppercase;
      font-size: 25px;
    }
	.primer_texto{
	  font-size: 1em;
	}
	@media only screen and (min-width: 40.063em) { 
		padding: 27px;
		min-height: 365px;
		h4{
			font-size: 20px;
		}
		.primer_texto{
		  font-size: .9em;
		}
	}
	@media only screen and (min-width: 90.063em) {
	  padding: 30px;
	  min-height: 400px;
	}
	@media only screen and (min-width: 1731px) {
    	  padding: 40px;
    	  min-height: 500px;
    	  h4{
    		  font-size: 25px;
    	  }
		  .primer_texto{
		    font-size: 1em;
		  }
	} 
    &.redbg{
      background: #e84a3d;
    }
  }
  img{
    width: 100%;
  }
}

.primer_texto{
  font-size: .9em;
}

.row{
  &.row-x{
   min-width: 90.63rem; 
  }
}

footer#footer{
  padding: 50px 0;
  background: black;
  p{
    color: #8d8d8d;
    font-size: 13px;
  }
  a{
    color: #fff;
    font-size: 13px;
  }
  h6{
    font-size: .9em;
    color: #8d8d8d;
  }
}

.info{
  display: inline-block;
  background: #1e2531;
  padding: 50px 30px;
  width: 30%;
  min-height: 681px;
  @media only screen and (min-width: 1472px) and (max-width: 1639px) {
  	height: 750px;
  }
  @media only screen and (min-width: 1640px) and (max-width: 1730px) {
  	height: 820px;
  }
  @media only screen and (min-width: 1731px) {
  	height: 900px;
  }
  @media only screen and (min-width: 117.063em) { 
  	height: 920px;
  }
  h3{
    color: #fff;
    text-transform: uppercase;
  }
  p{
    color: #818388;
  }
  ul{
    li{
      color: #818388;
      padding: 20px 0;
      border-bottom: 1px solid #353b46;
    }
  }
}

.map{
  position: relative;
  width: 70%;
  float: right;
  display: inline-block;
  overflow: hidden;
  height: 681px;
  @media only screen and (min-width: 1472px) and (max-width: 1639px) {
  	height: 750px;
  }
  @media only screen and (min-width: 1640px) and (max-width: 1730px) {
  	height: 820px;
  }
  @media only screen and (min-width: 1731px) {
  	height: 900px;
  }
  @media only screen and (min-width: 117.063em) { 
  	height: 920px;
  }
}

.project-orbit{
  min-height: 720px !important;
  @media only screen and (min-width: 1472px) and (max-width: 1639px) {
  	height: 780px !important;
  }
  @media only screen and (min-width: 1640px) and (max-width: 1730px) {
  	height: 850px !important;
  }
  @media only screen and (min-width: 1731px) {
  	height: 950px !important;
  }
  @media only screen and (min-width: 117.063em) { 
  	height: 1020px !important;
  }
}

.galleries{
  display: none;
  position: relative;
}

.closing{
  position: absolute;
  background: #1e2531;
  color: #fff;
  height: 40px;
  width: 40px;
  right: 0;
  top: 0;
  z-index: 9;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
}

.orbit-container .orbit-slides-container img{
  height: 100%;
  width: 100%;
}

.arrow{
  text-transform: uppercase;
  position: relative;
  top: 420px;
	@media only screen and (min-width: 40.063em) { 
	    top: 650px;
	}
}

.socials{
  margin: 0;
  text-align: center;
  li{
    display: inline-block;
    a{
      background: url(../images/socials.jpg);
      text-indent: -9999px;
      display: block;
      text-align: center;
      height: 30px;
      width: 30px;
      margin: 10px;
      &.twitter{
        background-position: 0 0;
      }
      &.linkedin{
        background-position:-56px 0;
      }
    }
  }
}

.nav-header{
	display: block;
	background:#114f9c;
	height: 62px;
	margin: 0;
	padding: 15px 20px;
	@media only screen and (min-width: 40.063em) { 
	display: none;
	}
}

.reveal-modal{
	&.blueish{
		padding: 0;
		background: rgba(17,79,156,.8);
		ul{
			display: block;
			margin: 0;
			text-align: center;
			list-style-type: none;
			li{
				text-align: center;
				display: block;
				margin: 10px;
				a{
					color: #fff;
					font-size: 27px;
				}
			}
		}
	}
}

#googleMap{
	height: 680px;
	@media only screen and (min-width: 1472px) and (max-width: 1639px) {
		height: 750px;
	}
	@media only screen and (min-width: 1640px) and (max-width: 1730px) {
		height: 820px;
	}
	@media only screen and (min-width: 1731px) {
		height: 900px;
	}
	@media only screen and (min-width: 117.063em) { 
		height: 920px;
	}
}

.top-bar-container, .tab-bar{
	margin-bottom: 0;
}

.orbit-container .orbit-slides-container>* .orbit-caption{
    bottom: initial !important;
	top:450px; 
	@media only screen and (min-width: 1472px) and (max-width: 1639px) {
		top: 530px;
	}
	@media only screen and (min-width: 1640px) and (max-width: 1730px) {
		top: 600px;
	}
	@media only screen and (min-width: 1731px) {
		top: 675px;
	}
	@media only screen and (min-width: 117.063em) { 
		top: 700px;
	}
	padding: 30px !important;
	left: 20px;
    color: #fff;
	width: auto !important;
	max-width: 330px;
}

.orbit-container .orbit-prev{
	left: auto !important;
	right: 0 !important;
	margin-top: -75px !important;
}

.orbit-container .orbit-prev, .orbit-container .orbit-next{
	width: 48px !important;
	height: 48px !important;
}

.orbit-container .orbit-next>span, .orbit-container .orbit-prev>span{
	display: block !important;
	border: 0 !important;
	background: url(../images/arrows.png) 0 0;
	margin:0 !important;
    height: 48px !important;
    width: 48px !important;
	position: relative !important;
	top: 0 !important;
}

.orbit-container .orbit-next>span{
	left: 0 !important;
	background-position: 0 -43px;
}

.orbit-container .orbit-prev>span{
    background-position: 0 3px;	
}

